IntegrationOrders/IntegrationOrders/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "sendgrid_1_Connection_Name": {
      "type": "string",
      "defaultValue": "sendgrid-2"
    },
    "sendgrid_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Test2"
    },
    "sendgrid_1_apiKey": {
      "type": "securestring",
      "metadata": {
        "description": "SendGrid Api Key"
      }
    },
    "sendgrid_2_Connection_Name": {
      "type": "string",
      "defaultValue": "sendgrid"
    },
    "sendgrid_2_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "SendGridTestConnection"
    },
    "sendgrid_2_apiKey": {
      "type": "securestring",
      "metadata": {
        "description": "SendGrid Api Key"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "InitOrderStatus": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "orderStatus",
                    "type": "String",
                    "value": "Processing"
                  }
                ]
              },
              "runAfter": {}
            },
            "InitOrderId": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "orderId",
                    "type": "String"
                  }
                ]
              },
              "runAfter": {
                "InitOrderStatus": [
                  "Succeeded"
                ]
              }
            },
            "InitServedOrdersArray": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "servedOrdersArray",
                    "type": "Array"
                  }
                ]
              },
              "runAfter": {
                "InitOrderId": [
                  "Succeeded"
                ]
              }
            },
            "OrderModule_Search": {
              "type": "Http",
              "inputs": {
                "method": "post",
                "body": {
                  "status": "New",
                  "responseGroup": "Full",
                  "take": 10
                },
                "headers": {
                  "api_key": "230911f491ae41d7955811a1584352cc"
                },
                "uri": "https://vc-platformbc7d.azurewebsites.net/api/order/customerOrders/search"
              },
              "runAfter": {
                "InitServedOrdersArray": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "apiDefinitionUrl": "https://vc-platformbc7d.azurewebsites.net/docs/virtocommerce.orders/v1",
                "swaggerSource": "custom"
              }
            },
            "For_each_customerOrders": {
              "type": "Foreach",
              "foreach": "@body('OrderModule_Search')?['customerOrders']",
              "actions": {
                "Set_variable": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "orderId",
                    "value": "@items('For_each_customerOrders')['id']"
                  },
                  "runAfter": {}
                },
                "OrderModule_GetById": {
                  "type": "Http",
                  "inputs": {
                    "method": "get",
                    "headers": {
                      "api_key": "230911f491ae41d7955811a1584352cc"
                    },
                    "uri": "https://vc-platformbc7d.azurewebsites.net/api/order/customerOrders/@{encodeURIComponent(variables('orderId'))}"
                  },
                  "runAfter": {
                    "Set_variable": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "apiDefinitionUrl": "https://vc-platformbc7d.azurewebsites.net/docs/virtocommerce.orders/v1",
                    "swaggerSource": "custom"
                  }
                },
                "Compose": {
                  "type": "Compose",
                  "inputs": "@setProperty(body('OrderModule_getById'),'status',variables('orderStatus'))",
                  "runAfter": {
                    "OrderModule_GetById": [
                      "Succeeded"
                    ]
                  }
                },
                "HTTP": {
                  "type": "Http",
                  "inputs": {
                    "method": "PUT",
                    "uri": "https://vc-platformbc7d.azurewebsites.net/api/order/customerOrders",
                    "headers": {
                      "api_key": "230911f491ae41d7955811a1584352cc"
                    },
                    "body": "@outputs('Compose')"
                  },
                  "runAfter": {
                    "Compose": [
                      "Succeeded"
                    ]
                  }
                },
                "Append_to_servedOrdersArray": {
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "servedOrdersArray",
                    "value": "@items('For_each_customerOrders')['number']"
                  },
                  "runAfter": {
                    "HTTP": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "OrderModule_Search": [
                  "Succeeded"
                ]
              }
            },
            "Send_email": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sendgrid_1']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "from": "orders@virtoway.com",
                  "to": "your@emal.com",
                  "subject": "New orders creted",
                  "text": "@string(variables('servedOrdersArray'))",
                  "ishtml": true
                },
                "path": "/mail/send"
              },
              "runAfter": {
                "For_each_customerOrders": [
                  "Succeeded"
                ]
              }
            },
            "HTTP_retry_policy": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "http://httpbin.org/status/429",
                "retryPolicy": {
                  "type": "fixed",
                  "count": 4,
                  "interval": "PT15S"
                }
              },
              "runAfter": {
                "Send_email": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Minute",
                "interval": 5
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sendgrid_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sendgrid')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sendgrid_2_Connection_Name'))]",
                "connectionName": "[parameters('sendgrid_2_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('sendgrid_2_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sendgrid_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sendgrid')]"
        },
        "displayName": "[parameters('sendgrid_1_Connection_DisplayName')]",
        "parameterValues": {
          "apiKey": "[parameters('sendgrid_1_apiKey')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sendgrid_2_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sendgrid')]"
        },
        "displayName": "[parameters('sendgrid_2_Connection_DisplayName')]",
        "parameterValues": {
          "apiKey": "[parameters('sendgrid_2_apiKey')]"
        }
      }
    }
  ],
  "outputs": {}
}